In [1]:
import numpy as np
import pandas as pd

In [2]:
allData = pd.read_csv(r"C:\Users\Eric\Documents\EECS 731\Proj5\data\Historical Product Demand.csv")
allData

         Product_Code Warehouse Product_Category       Date Order_Demand
0        Product_0993    Whse_J     Category_028  2012/7/27         100
1        Product_0979    Whse_J     Category_028  2012/1/19         500
2        Product_0979    Whse_J     Category_028   2012/2/3         500
3        Product_0979    Whse_J     Category_028   2012/2/9         500
4        Product_0979    Whse_J     Category_028   2012/3/2         500
...               ...       ...              ...        ...          ...
1048570  Product_1791    Whse_J     Category_006  2016/4/27        1000
1048571  Product_1974    Whse_J     Category_006  2016/4/27           1
1048572  Product_1787    Whse_J     Category_006  2016/4/28        2500
1048573  Product_0901    Whse_J     Category_023  2016/10/7          50
1048574  Product_0704    Whse_J     Category_001  2016/6/27           4

[1048575 rows x 5 columns]

In [15]:
allData['Product_Code'].value_counts()

Product_1359    16936
Product_1295    10575
Product_1378     9770
Product_0620     9428
Product_1286     8888
                ...
Product_1698        2
Product_0465        1
Product_0853        1
Product_1703        1
Product_2099        1
Name: Product_Code, Length: 2160, dtype: int64

In [44]:
OneProduct = allData

In [45]:
#Attempt 1 at filter out all product_codes except 1359
OneProduct = OneProduct[(OneProduct.Product_Code == 'Product_1359')]
OneProduct

         Product_Code Warehouse Product_Category       Date Order_Demand
276      Product_1359    Whse_J     Category_019  2012/4/18       80000
282      Product_1359    Whse_J     Category_019  2012/5/21       70000
289      Product_1359    Whse_J     Category_019  2012/6/26       80000
292      Product_1359    Whse_J     Category_019  2012/7/17      100000
296      Product_1359    Whse_J     Category_019  2012/8/24      100000
...               ...       ...              ...        ...          ...
1046514  Product_1359    Whse_J     Category_019  2016/10/3       20000
1046515  Product_1359    Whse_J     Category_019  2016/9/16       10000
1046516  Product_1359    Whse_J     Category_019  2016/11/1       30000
1046517  Product_1359    Whse_J     Category_019  2016/12/1       20000
1046518  Product_1359    Whse_J     Category_019  2016/12/9       20000

[16936 rows x 5 columns]

In [42]:
#attempt 2, matches attempt 1
filter = OneProduct['Product_Code'].str.contains("Product_1359")
OneProduct = OneProduct[filter]
OneProduct

         Product_Code Warehouse Product_Category       Date Order_Demand
276      Product_1359    Whse_J     Category_019  2012/4/18       80000
282      Product_1359    Whse_J     Category_019  2012/5/21       70000
289      Product_1359    Whse_J     Category_019  2012/6/26       80000
292      Product_1359    Whse_J     Category_019  2012/7/17      100000
296      Product_1359    Whse_J     Category_019  2012/8/24      100000
...               ...       ...              ...        ...          ...
1046514  Product_1359    Whse_J     Category_019  2016/10/3       20000
1046515  Product_1359    Whse_J     Category_019  2016/9/16       10000
1046516  Product_1359    Whse_J     Category_019  2016/11/1       30000
1046517  Product_1359    Whse_J     Category_019  2016/12/1       20000
1046518  Product_1359    Whse_J     Category_019  2016/12/9       20000

[16936 rows x 5 columns]

In [46]:
#Remove columns per report
del OneProduct['Warehouse']

In [47]:
# where are the values missing
print("*****In the MLBElo set*****")
print(OneProduct.isna().sum())

*****In the MLBElo set*****
Product_Code        0
Product_Category    0
Date                0
Order_Demand        0
dtype: int64

In [48]:
# See types of features
OneProduct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16936 entries, 276 to 1046518
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_Code      16936 non-null  object
 1   Product_Category  16936 non-null  object
 2   Date              16936 non-null  object
 3   Order_Demand      16936 non-null  object
dtypes: object(4)
memory usage: 661.6+ KB